<div class="car">
    <h3>Fazer login</h3>
    <div class="card-body">
        <form action="/usuarios/login" method="post">
            <label for="email">Email: </label>
            <input type="text" name="email" class="form-control" required>
            <label for="senha">Senha: </label>
            <input type="password" name="senha" class="form-control" required>
            <button type="submit" class="btn btn-success mt*4">Logar</button>
        </form>
    </div>
</div>