<div class="card">
    <div class="card-body">
        <h4>{{postagem.titulo}}</h4>
        <hr>
        <small>Data da Publicação: {{postagem.data}}</small>
        <hr>
        <p>{{postagem.conteudo}}</p>
    </div>
</div>